.featured .eresource{
    display: flex;
    margin: 10px 0;
    color: green;
    cursor: pointer;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.featured .eresource{
    max-width: 60%;
    overflow: hidden;
}
.featured .eresource > :nth-child(n){
    padding: 0 10px;
}
.errortaab{
    border-left:2px solid red; 
    border-radius: 0px 5px 5px 0px !important;
    background-color: white;
}
.error{
    color: red;
}

.evstatus{
    display: flex;
}

.evstatus .stat{
    border-radius:100%;
    color:white;
    cursor:pointer;
    height: 60px;
    min-width: 60px;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}